################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/vs/FileContentIndex/041c1a69-d514-4fc5-93a0-8c7fa680efb8.vsidx
/.vs/vs/FileContentIndex/47f91509-9e37-47b6-ba6d-1ec32e08df40.vsidx
/.vs/vs/FileContentIndex/4fc4e2ed-e997-4eaa-a870-e7c59c8cebee.vsidx
/.vs/vs/FileContentIndex/519bbcca-c2b4-468d-bfff-970153922319.vsidx
/.vs/vs/FileContentIndex/66f7f5bd-bcb4-4659-85af-65caa6b898b0.vsidx
/.vs/vs/FileContentIndex/841ee90f-98ed-41d4-bb89-7b344bc21070.vsidx
/.vs/vs/FileContentIndex/aa059ed8-5d08-4073-a298-c6702906722a.vsidx
/.vs/vs/FileContentIndex/9f2ea668-666d-463b-82ce-08bd8355d967.vsidx
